.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}

.card__like-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card__like-count {
  font-size: 13px;
  text-align: center;
  align-self: center;
}
